<!--Sinh viên thực hiện: Nguyễn Nhật Trường-->
@model do_an_web.Models.News

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-info">Create News</h1>


<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Tilte" class="control-label"></label>
                        <input asp-for="Tilte" class="form-control" />
                        <span asp-validation-for="Tilte" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Decreption" class="control-label"></label>
                        <input asp-for="Decreption" class="form-control" />
                        <span asp-validation-for="Decreption" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Author" class="control-label"></label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input type="file" name="files" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label asp-for="DateCreate" class="control-label"></label>
                        <input asp-for="DateCreate" value="@DateTime.Now" type="text" class="form-control" id="datepicker" disabled />
                        <span asp-validation-for="DateCreate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-8">
                    @Html.DisplayName("Content")
                    <div class="form-group">


                        <textarea asp-for="Detail" cols="100" rows="16"></textarea>
                        <span asp-validation-for="Detail" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create News" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>




