<!--Sinh viên thực hiện: Nguyễn Nhật Trường-->
@model do_an_web.Models.News

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h1 class="text-info"> Chi tiết tin tức</h1>


<hr />
<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label asp-for="Tilte" class="control-label">Tiêu đề</label>
            <input asp-for="Tilte" disabled class="form-control" />

        </div>
        <div class="form-group">
            <label asp-for="Decreption" class="control-label">Mô tả</label>
            <input asp-for="Decreption" disabled class="form-control" />

        </div>

        <div class="form-group">
            <label asp-for="Author" class="control-label">Tác giả</label>
            <input asp-for="Author" disabled class="form-control" />

        </div>


        <div class="form-group">
            <label asp-for="DateCreate" class="control-label">Ngày viết</label>
            <input asp-for="DateCreate" disabled class="form-control" />

        </div>
    </div>
    <div class="col-5">
        @Html.DisplayName("Nội dung")
        <div class=" form-group">
            <textarea disabled asp-for="Detail" cols="64" rows="16"></textarea>

        </div>
    </div>
    <div class="col-3" style="padding-top:24px">
        <img src="@Model.Image" width="100%" style=" border-radius:5px; border: 1px solid #bbb9b9; " />
    </div>
</div>
<div class="form-group">
    <a asp-action="Edit" class="btn btn-danger" asp-route-id="@Model.Id">Sửa</a> |
    <a asp-action="Index" class="btn btn-success">Quay lại danh sách</a>
</div>


