@using Microsoft.AspNetCore.Http
@using do_an_web.Extensions
@using do_an_web.Utility

@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Linh kiện máy tính</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel=" stylesheet" href="~/css/jquery-ui.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- them -->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link href="~/css/responsive.css" rel="stylesheet">
    <meta name="google-site-verification" content="rR21INBB9B3wyln0UEBTBJqmP6NGnc3zEDNbZSvZPfs" />
   
</head>


<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Weblinhkien.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">


                    @*@if (User.IsInRole(SD.AdminEndUser))
                    {
                        <li class=" nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manager
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="Category" asp-action="Index">Category</a>
                                <div class="dropdown-divider"></div>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="Product" asp-action="Index">Product</a>
                                <div class="dropdown-divider"></div>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="ManageNew" asp-action="Index"> News</a>
                                <div class="dropdown-divider"></div>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="ManageContact" asp-action="Index"> Contact</a>

                            </div>
                        </li>
                    }

                    @if (User.IsInRole(SD.SuperAdminEndUser))
                    {

                        <li class=" nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manager
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="Category" asp-action="Index">Category</a>
                                <div class="dropdown-divider"></div>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="Product" asp-action="Index">Product</a>
                                <div class="dropdown-divider"></div>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="ManageNew" asp-action="Index"> News</a>
                                <div class="dropdown-divider"></div>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="ManageContact" asp-action="Index"> Contact</a>
                                <div class="dropdown-divider"></div>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="AdminUsers" asp-action="Index">Admin User</a>
                                <div class="dropdown-divider"></div>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="User" asp-action="Index">User</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item " asp-area="Admins" asp-controller="Orders" asp-action="Index">Order</a>
                            </div>
                        </li>

                    }
                    else
                    {*@
                        <li class="nav-item">
                            <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="Customer" asp-controller="News" asp-action="Index">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="Customer" asp-controller="Contact" asp-action="Create">Contact</a>
                        </li>
                        @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart") != null)
                        {
                            <li style="color:white">
                                <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                                    <i class="fas fa-shopping-cart"></i>&nbsp;
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart").Count();

                                    }
                                    (@count)
                                </a>
                            </li>
                        }
                        else
                        {
                            <li style="color:white">
                                <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                                    <i class="fas fa-shopping-cart"></i>&nbsp;
                                    (0)
                                </a>
                            </li>
                        }

                    @*}*@

                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="min-height:600px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--Footer-->
    <div class="container-fluid" style="background-color:black">
        <div class="row">
            <div class="col-sm-8">
                <div class="single-widget" style="padding-left:40px">
                    <h3 style="color:white">Địa chỉ cửa hàng</h3>
                    <div style="font-size:20px;font-weight:lighter; color:white"> TP Hồ Chí Minh </div>
                    <div style="font-size:15px;font-weight:lighter; color:white"> 01 Võ Văn Ngân, phường Linh Chiểu, Quận Thủ Đức </div>
                    <div style="font-size:15px;font-weight:lighter; color:white"> Tel: 0901950160 </div>
                    <div style="font-size:15px;font-weight:lighter; color:white"> Email: weblinhkien@gmail.com </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="single-widget">
                    <h3 style="color:white">Thông tin liên lạc</h3>
                    <ul class="nav navbar-nav">
                        <li><a href="https://www.facebook.com/huaahuy"><i class="fa fa-facebook"></i>Facbook</a></li>
                        <li><a href="https://twitter.com/explore/"><i class="fa fa-twitter"></i>Twitter</a></li>
                        <li><a href="https://google.com/"><i class="fa fa-google-plus"></i>Google</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <!--===============================================================================================-->

</body>
</html>
