@using Microsoft.AspNetCore.Http
@using do_an_web.Extensions
@using do_an_web.Utility

@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Linh kiện máy tính</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel=" stylesheet" href="~/css/jquery-ui.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- them -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <meta name="google-site-verification" content="rR21INBB9B3wyln0UEBTBJqmP6NGnc3zEDNbZSvZPfs" />
</head>
<style>

    footer {
        height: 50px;
        background: PapayaWhip;
    }
</style>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Weblinhkien.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">


                    @if (User.IsInRole(SD.AdminEndUser))
                    {
                        <li class=" nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manager
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="Category" asp-action="Index">Category</a>
                                <div class="dropdown-divider"></div>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="Product" asp-action="Index">Product</a>
                                <div class="dropdown-divider"></div>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="ManageNew" asp-action="Index"> News</a>
                                <div class="dropdown-divider"></div>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="ManageContact" asp-action="Index"> Contact</a>

                            </div>
                        </li>
                    }

                    @if (User.IsInRole(SD.SuperAdminEndUser))
                    {

                        <li class=" nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manager
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="Category" asp-action="Index">Category</a>
                                <div class="dropdown-divider"></div>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="Product" asp-action="Index">Product</a>
                                <div class="dropdown-divider"></div>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="ManageNew" asp-action="Index"> News</a>
                                <div class="dropdown-divider"></div>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="ManageContact" asp-action="Index"> Contact</a>
                                <div class="dropdown-divider"></div>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="AdminUsers" asp-action="Index">Admin User</a>
                                <div class="dropdown-divider"></div>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="User" asp-action="Index">User</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item " asp-area="Admins" asp-controller="Orders" asp-action="Index">Order</a>
                            </div>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="Customer" asp-controller="News" asp-action="Index">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="Customer" asp-controller="Contact" asp-action="Create">Contact</a>
                        </li>
                        @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart") != null)
                        {
                            <li style="color:white">
                                <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                                    <i class="fas fa-shopping-cart"></i>&nbsp;
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart").Count();

                                    }
                                    (@count)
                                </a>
                            </li>
                        }
                        else
                        {
                            <li style="color:white">
                                <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                                    <i class="fas fa-shopping-cart"></i>&nbsp;
                                    (0)
                                </a>
                            </li>
                        }

                    }

                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <span></span>
            <script src="~/js/jquery.js"></script>
            <script src="~/js/bootstrap.min.js"></script>
            <script src="~/js/jquery.scrollUp.min.js"></script>
            <script src="~/js/price-range.js"></script>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/jquery.prettyPhoto.js"></script>
            <script src="~/js/main.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
            @RenderSection("Scripts", required: false)
</body>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="mx-auto p-1  text-white text-center" style="width: 200px;">
            <div style="font-size:20px;font-weight:lighter; color:beige">Hệ thống cửa hàng </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <header>

            <div class="col-md-4">
                <div style="font-size:20px;font-weight:lighter; color:#36454f"> TP Hồ Chí Minh </div>
                <div style="font-size:15px;font-weight:lighter; color:#36454f"> 01 Võ Văn Ngân, phường Linh Chiểu, Quận Thủ Đức </div>
                <div style="font-size:15px;font-weight:lighter; color:#36454f"> Tel: 0901950160 </div>
                <div style="font-size:15px;font-weight:lighter; color:#36454f"> Email: weblinhkien@gmail.com </div>
            </div>
            
        </header>
    </div>
    <div class="container body-content">
        <hr />
    </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"></nav>
</body>
</html>

