@using Microsoft.AspNetCore.Http
@using do_an_web.Extensions
@using do_an_web.Utility

@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Linh kiện máy tính</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel=" stylesheet" href="~/css/jquery-ui.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- them -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <meta name="google-site-verification" content="rR21INBB9B3wyln0UEBTBJqmP6NGnc3zEDNbZSvZPfs" />
</head>
<style>

    footer {
        height: 50px;
        background: PapayaWhip;
    }
</style>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Weblinhkien.com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link " asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="Customer" asp-controller="News" asp-action="Index">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="Customer" asp-controller="Contact" asp-action="Create">Contact</a>
                    </li>
                    @if (User.IsInRole(SD.SuperAdminEndUser) || User.IsInRole(SD.AdminEndUser))
                    {
                        <li class="nav-item">
                            <a class="nav-link " asp-area="Admins" asp-controller="Orders" asp-action="Index">Order</a>
                        </li>
                    }

                    @if (User.IsInRole(SD.SuperAdminEndUser))
                    {

                        <li class=" nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin Manager
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="Category" asp-action="Index">Category</a>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="Product" asp-action="Index">Product</a>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="ManageNew" asp-action="Index">Manage New</a>
                                <a class=" dropdown-item " asp-area="Admins" asp-controller="ManageContact" asp-action="Index">Manage Contact</a>
                                <a class=" dropdown-item" asp-area="Admins" asp-controller="AdminUsers" asp-action="Index">Admin User</a>
                                <a class=" dropdown-item" asp-area="Admins" asp-controller="Users" asp-action="Index">User</a>
                            </div>
                        </li>

                    }


                    @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart") != null)
                    {
                        <li style="color:white">
                            <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                                <i class="fas fa-shopping-cart"></i>&nbsp;
                                @{
                                    var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart").Count();

                                }
                                (@count)
                            </a>
                        </li>
                    }
                    else
                    {
                        <li style="color:white">
                            <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                                <i class="fas fa-shopping-cart"></i>&nbsp;
                                (0)
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <span></span>





    
   




    <!-- Footer -->
    @*<div class="container">
            <footer class="page-footer font-small blue pt-4">
                <div class="container-fluid text-center text-md-left">
                    <div class="row" style="color:black">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <h5 class="text-uppercase">Footer Content</h5>
                            <p>Here you can use rows and columns to organize your footer content.</p>

                        </div>
                        <hr class="clearfix w-100 d-md-none pb-3">

                        <div class="col-md-3 mb-md-0 mb-3">

                             Links
                            <h5 class="text-uppercase">Thông tin liên lạc</h5>

                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!">Email</a>
                                </li>
                                <li>
                                    <a href="#!">Facbook</a>
                                </li>
                                <li>
                                    <a href="#!">Yahoo</a>
                                </li>
                            </ul>

                        </div>
                         Grid column

                    </div>
                     Grid row

                </div>
                <div class="footer-copyright text-center py-3">
                    © 2020 Copyright:
                    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
                </div>
                 Copyright

            </footer>
             Footer
        </div>*@

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/price-range.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="mx-auto p-1  text-white text-center" style="width: 200px;">
            <div style="font-size:20px;font-weight:lighter; color:beige">Hệ thống cửa hàng </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <header>

            <div class="col-md-4">
                <div style="font-size:20px;font-weight:lighter; color:#36454f"> TP Hồ Chí Minh </div>
                <div style="font-size:15px;font-weight:lighter; color:#36454f"> Số 520 Cách Mạng Tháng Tám - Quận 3 </div>
                <div style="font-size:15px;font-weight:lighter; color:#36454f"> Tel: 1900 1903 (máy lẻ 710) - (028) 73078877 </div>
                <div style="font-size:15px;font-weight:lighter; color:#36454f"> Email: weblinhkien@gmail.com </div>
            </div>
            <div class="col-md-4">
                <div style="font-size:20px;font-weight:lighter; color:#36454f"> Hà Nội </div>
                <div style="font-size:15px;font-weight:lighter; color:#36454f"> Số 398 Nguyễn Văn Cừ - Long Biên - Hà Nội </div>
                <div style="font-size:15px;font-weight:lighter; color:#36454f"> Tel: 19001903 (máy lẻ 808) - (024) 73088877 </div>
                <div style="font-size:15px;font-weight:lighter; color:#36454f"> Email: weblinhkien@gmail.com </div>
            </div>
            <div class="col-md-4 text-justify">
                <div style="font-size:20px;font-weight:lighter; color:#36454f"> Đà Nẵng </div>
                <div style="font-size:15px;font-weight:lighter; color:#36454f"> 698 Tôn Đức Thắng, Liên Chiểu, Đà Nẵng </div>
                <div style="font-size:15px;font-weight:lighter; color:#36454f"> Tel: 19001903 (máy lẻ 808) - (024) 73088877  </div>
                <div style="font-size:15px;font-weight:lighter; color:#36454f"> Email: weblinhkien@gmail.com </div>

            </div>
        </header>
    </div>
    <div class="container body-content">
        <hr />
    </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"></nav>
</body>
</html>

