@model do_an_web.Models.Order

<h4 class="text-success">Order Details</h4>

<div style="height:100px; background-color:aliceblue" class="container border">
    <div class="col-12">
        <div class="row" style="padding-top:10px">
            <div class="col-2">
                Full Name
            </div>
            <div class="col-3">
                <input asp-for="@Model.Name" readonly class="form-control" />
            </div>
            <div class="col-2">

            </div>
            <div class="col-1">
                Email
            </div>
            <div class="col-4">
                <input asp-for="@Model.Email" readonly class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row" style="padding-top:10px">
            <div class="col-2">
                Phone Number
            </div>
            <div class="col-3">
                <input asp-for="@Model.Phone" readonly class="form-control" />
            </div>
            <div class="col-2">

            </div>
            <div class="col-1">
                Address
            </div>
            <div class="col-4">
                <input asp-for="@Model.Address" readonly class="form-control" />
            </div>
        </div>
    </div>

</div>

