@model do_an_web.Models.ViewModel.ProductsViewModel
@using do_an_web.Extensions
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h1>Thêm sản phẩm</h1>

<h4>Sản phẩm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Products.Product_Name" class="control-label">Tên sản phẩm</label>
                <input asp-for="Products.Product_Name" class="form-control" />
                <span asp-validation-for="Products.Product_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.Detail" class="control-label">Chi tiết </label>
                <input asp-for="Products.Detail" class="form-control" />
                <span asp-validation-for="Products.Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.Price" class="control-label">Giá</label>
                <input asp-for="Products.Price" class="form-control" />
                <span asp-validation-for="Products.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.Image" class="control-label">Hình ảnh</label>
                <input type="file" name="files" class="form-control" />
                @*<span asp-validation-for="Image" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Products.Amount" class="control-label">Số lượng</label>
                <input asp-for="Products.Amount" class="form-control" />
                <span asp-validation-for="Products.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Products.ViewNumber" class="control-label">Lượt xem</label>
                <input asp-for="Products.ViewNumber" class="form-control" value="0" readonly />
                <span asp-validation-for="Products.ViewNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categories" class="control-label">Loại sản phẩm</label>
                <select asp-for="@Model.Products.CategoryId" asp-items="Model.Categories.ToSelectListItem(Model.Products.CategoryId)" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>

