<!--Sinh viên thực hiện: Nguyễn Nhật Trường-->
@model do_an_web.Models.ViewModel.OrderDetailViewModel
@using do_an_web.Extensions
@using do_an_web.Utility
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<br />

<h2 class="text-info">Chi tiết đơn hàng</h2>

<div class="p-4 border rounded row">


    <div class="col-6">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Order.Name" class="control-label">Tên</label>
            </div>
            <div class=" col-8">
                <input asp-for="Order.Name" disabled class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Order.DateOrder" class="control-label">Ngày đặt</label>
            </div>
            <div class="col-8">
                <input asp-for="Order.DateOrder" disabled type="text" class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Order.Phone" class="control-label">Số điện thoại</label>
            </div>
            <div class="col-8">
                <input asp-for="Order.Phone" disabled class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Order.Email" class="control-label">Email</label>
            </div>
            <div class="col-8">
                <input asp-for="Order.Email" disabled class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Order.Address" class="control-label">Địa chỉ</label>
            </div>
            <div class="col-8">
                <input asp-for="Order.Address" disabled class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Order.PaymentMethod" class="control-label">Hình thức thanh toán</label>
            </div>
            <div class="col-8">
                <input asp-for="Order.PaymentMethod" disabled class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Order.TotalPrice" class="control-label">Tổng đơn hàng</label>
            </div>
            <div class="col-8">
                <input asp-for="Order.TotalPrice" disabled class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Order.Status" class="control-label">Tình trạng</label>
            </div>
            <div class="col-8 text-info">
                @if (Model.Order.Status == 1)
                {
                    @Html.DisplayName("Đã thanh toán")
                }
                else
                { @Html.DisplayName("Chưa thanh toán")}
            </div>
        </div>



        <div class="form-group">
            <a asp-action="Index" class="btn btn-success">Quay lại danh sách</a>
        </div>
    </div>

    <div class=" col-6">
        @* paricial view *@
        <partial name="~/Views/Shared/_OrderProductDetails.cshtml" model="Model.Products" />
    </div>




