@model do_an_web.Models.Category

<h3>Bạn có chắc chắn muốn xóa loại sản phẩm hay không?</h3>
<div>
    <h4>Loại sản phẩm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Name)*@
            <h5>Tên</h5>
        </dt>
        <dd class = "col-sm-10" style="padding-top :10px">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Detail)*@
            <h5>Chi tiết </h5>
        </dt>
        <dd class = "col-sm-10" style="padding-top :10px">
            @Html.DisplayFor(model => model.Detail)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Status)*@
            <h5>Tình trạng</h5>
        </dt>
        <dd class = "col-sm-10" style="padding-top :10px">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại danh sách</a>
    </form>
</div>
