@model IEnumerable<do_an_web.Models.Category>
@{
    ViewData["Title"] = "Index";
}

<br />  
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Danh sách loại sản phẩm</h2>

    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info" ><i class="fas fa-plus"></i>&nbsp; Loại sản phẩm mới</a>
    </div>
</div>
<br />
<div>
    <table class="table" >
        <thead>
            <tr>
                <th>
                    <h3>Tên loại sản phẩm</h3>
                </th>
                <th>
                    <h3>Chi tiết</h3>
                </th>
                <th>
                    <h3>Tình trạng</h3>
                </th>
            </tr>
        </thead>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Detail)
                </td>
        
                @if (item.Status==0)
                {
                    <td>
                        @*@Html.DisplayName("Out of Stock")*@
                        <h4>Ngừng kinh doanh</h4>
                    </td>
                }
                else
                {
                    <td>
                        @*@Html.DisplayName("Stocking")*@
                        <h4>Đang kinh doanh</h4>
                    </td>
                }

            <td>
     
                <partial name="_TableButtonPartial" model="item.Id" />
            </td>
            </tr>
        }
    </table>
</div>




