@model do_an_web.Models.Contact

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Creat</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Nội dung</label>
                <textarea asp-for="Content" class="form-control" rows="5" ></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <input asp-for="Status" hidden class="form-control" value="0" />
            <div class="form-group">
                <input type="submit" value="Gửi" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>



