@model do_an_web.Models.ViewModel.ShoppingCartViewModel
@{
    ViewData["Title"] = "Xác nhận đơn hàng";
}

<br />
<h2 class="text-info">Xác nhận đơn hàng</h2>
<div class="form-text">
    Đơn hàng của bạn đang được xử lý
</div>

<br />

<partial name="~/Views/Shared/_OrderCustomerDetails.cshtml" model="Model.Order" />
<br />
<br />
<partial name="~/Views/Shared/_OrderProductDetails.cshtml" model="Model.Products" />

<a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-success">Back to products</a>
