@model do_an_web.Models.ApplicationUser

@{
    ViewData["Title"] = "Delete";
}

<br />

<h2 class="text-info">Vô hiệu hóa nhân viên</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên</label>
                <input asp-for="Name" readonly class="form-control" />
               
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" readonly class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                <input asp-for="PhoneNumber" readonly class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Xóa" class="btn btn-danger" asp-route-id="@Model.Id " />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>


